@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;   
    
}

.header{
    display: flex; 
    border: 1px solid black;
    justify-content: space-between;
}

/* HEADER */

#searchbtn, #search{
    
    height: 3rem;
    padding: .5rem;
    font-size: 1.5rem;
    margin-left: 5px;
}

#searchbtn{
    width: calc(100 - 85vw );
}

#search{
    width: 85vw;
}

.sortBtn{
    padding: 10px;
    margin: 10px;    
    font-size: 1rem;
}

/* NAVBAR */

.nav-items{
    display: flex;
}

.nav-items ul{
    display: flex;
    align-items: center;
    
}

.nav-items ul li{
    list-style-type: none;
    padding: 0px 25px;
}

a{
    color: black;
    text-decoration: none;
}


/* Restaurant Card */

.res-card{
    margin: 10px;
    width: 200px;
    padding: 5px;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    padding: 20px;
    cursor: pointer;
}

.res-card:hover{
    scale: 1.1;
    background-color: rgb(204, 204, 204);
}

.card-display{
    display: flex;
    flex-wrap: wrap;
    
}


.res-card img{
    width: 100%;
}