@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
    font-family: 'Poppins', sans-serif;   
}

.header{
    display: flex; 
    border: 1px solid black;
    justify-content: space-between;
}

/* NAVBAR */

.nav-items{
    display: flex;
}

.nav-items ul{
    display: flex;
    align-items: center;
    
}

.nav-items ul li{
    list-style-type: none;
    padding: 0px 25px;
}

a{
    color: black;
    text-decoration: none;
}


/* Restaurant Card */

.res-card{
    width: 200px;
    border: 1px solid red;
    padding: 5px;
}


.res-card img{
    width: 100%;
}